<p>
  news works!{{title}}
</p>

<div class="{{msg}}">绑定标签属性的一种方法</div>
<div [class]="msg">绑定标签属性的另一种方法</div>

{{msgString}}
<br>
<span [innerHTML]="msgString"></span>

<p>数组和对象</p>

<ul>
  <li *ngFor="let item of list"> {{item}} </li>
</ul>
<p>获取索引值</p>
<ul>
  <li *ngFor="let item of list2; let i = index"> {{i}}->{{item}} </li>
</ul>
<p>对象数组</p>
<ul>
  <li *ngFor="let item of list3; let i = index"> {{i}}->{{item.title}} </li>
</ul>
<hr>
<ul>
  <li *ngFor="let item of list4; let i = index">
     {{i}}->{{item.car}} 
    <ol>
      <li *ngFor="let a of item.list">
        {{item.car}}:{{a.title}}
      </li>
    </ol>
  </li>
</ul>


<span>{{obj.name}}</span>

<p>get post jsonp</p>

<button (click)="requestData()">请求数据</button>

<button (click)="requestJsonpData()">Jsonp请求数据</button>