<p (click)="fatherFn()">
  news works!{{title}}
</p>

<p>news 的子组件 child</p>

<!-- 通过[title]="title"向子组件传值，前面是子组件的变量名，后面是父组件的，但最好保持一致 -->
<!-- 父组件调用子组件的时候，定义接受事件，outer就是子组件的EventEmitter对象outer -->
<!-- 相当于监听一个事件，并赋值给outer，outer就是子组件的对象，不能改其他名字 -->
<!-- outer相当于是广播的一个key,和click等行为是等价的 -->
<app-child [title]="title" [transportData2]="transportData" [fatherFn]="fatherFn" [fatherFn2]="fatherFn2" (outer)="runParent($event)"></app-child>

<div class="{{msg}}">绑定标签属性的一种方法</div>
<div [class]="msg">绑定标签属性的另一种方法</div>

{{msgString}}
<br>
<span [innerHTML]="msgString"></span>

<p>数组和对象</p>

<ul>
  <li *ngFor="let item of list"> {{item}} </li>
</ul>
<p>获取索引值</p>
<ul>
  <li *ngFor="let item of list2; let i = index"> {{i}}->{{item}} </li>
</ul>
<p>对象数组</p>
<ul>
  <li *ngFor="let item of list3; let i = index"> {{i}}->{{item.title}} </li>
</ul>
<hr>
<ul>
  <li *ngFor="let item of list4; let i = index">
     {{i}}->{{item.car}} 
    <ol>
      <li *ngFor="let a of item.list">
        {{item.car}}:{{a.title}}
      </li>
    </ol>
  </li>
</ul>


<span>{{obj.name}}</span>

<p>get post jsonp</p>

<button (click)="requestData()">请求数据</button>

<button (click)="requestJsonpData()">Jsonp请求数据</button>

<button (click)="postData()">post数据</button>

<button (click)="requestWithRxData()">请求数据-经Rx处理过</button>
 
<button (click)="requestJsonpWithRxData()">Jsonp请求数据-Rx处理过</button>


<br>

<a routerLink="../content">详情</a>

<br>

<a routerLink="../content/1">详情1</a>

<br>

<a routerLink="../content/2">详情2</a>