<p>
  todo list works!
</p>
<div>
  {{inputContent}}
  <input type="text" (keyup)='addKeyUpFn($event)' [(ngModel)]='inputContent'>
  <button (click)='addButtonFn()'>添加</button>
</div>
<hr>
<div>
  <h2>当前任务:</h2>

  <ul>
    <li *ngFor="let item of targetList; let i = index">
      <button (click)='finishFn(i)'>完成</button> {{i}}->{{item}}
      <button (click)='deleteFn(i)'>删除</button>
    </li>
  </ul>
</div>
<div>
  <h2>已完成:</h2>

  <ul>
    <li *ngFor="let item of doneList; let i = index"> {{i}}->{{item}} </li>
  </ul>
</div>

<button (click)="goNews()">点击我跳转路由</button>