/* You can add global styles to this file, and also import other style files */

*{
    margin: 0px;
    padding: 0px;
}

.child{
    height: 44px;
    line-height: 44px;
    text-align: center;
    background: black;
    color: #fff;
}

.activeClass{
    color: red;
    font-size: 40px;
}